.container{
    display: flex;
}

/*Defines the overall size*/
.grid{
    width: 200px;
    height: 400px;
    /*Makes squares not stack on each other*/
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

/*Defines the size of the squares*/
.grid div{
    height: 20px;
    width: 20px;
}

/*Defines how the shape of the pieces is*/
.piece {
    background-color: teal;
}

.mini-grid{
    margin-left: 30px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.mini-grid div{
    height: 20px;
    width: 20px;
}